body{
    max-width: 1100px;
    max-height: 2000px;
    font-weight: bolder;
   
}
header{
    background-image: url(img/pattern.png);
    background-color: rgba(78,160,255,255);
    height: 130px;
    
}

h1{
    font-size: 40px;
}
#logo{
    height: 50px;
    width: auto;
    margin-top: 70px;
}
.firma{
    color: grey;
    padding-top: 10;
}

#X{
    color:  rgba(78,160,255,255);
}
.Comment{
    font-size: 10px;
    margin-top: 0px;
    padding: 0px;
    line-height:2px ;
}
.Yellow{
    background-color: yellow;
}

ul{
    padding-left: 20px;
}

Table{
    border-collapse: collapse;
}
thead{
    background-color: rgba(32,169,229,255) ;
    color: white;
    text-align: left;
}
.row{
    background-color: rgba(177,229,242,255);
}

.left{
    width: 30% ;
}
.central{
    width: 30%;
}
.right{
    width: 40%;
}

.picture{
    display: block;
}
#computer{    
    background-image: url(img/monitor.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;  
    width: 240px;
    height: 150px;
}
#schermo{
    background-image: url(img/graph.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    width: 240px;
    height: 150px;
}