header{
    background-image: url(img/pattern.png);
    background-color: cornflowerblue;
    height: 130px;
    
}
#logo{
    height: 50px;
    width: auto;
    margin-top: 70px;
}
.firma{
    color: grey;
}

#X{
    color: lightskyblue;
}
.Comment{
    font-size: 10px;
}
.Yellow{
    background-color: yellow;
}